$attention_color: #F16D7F;
$dark_section: #222222;
$pink_bg: #F1E4E6;
$white_txt: #FBFBFB;
$grey_bg: #E1E1E1;
$grey_sometxt:#9F9F9F;
$goods_card_bg:#F8F8F8;
$dark_txt: #636363;
$description_margin: 62px;
$goods_curtain_bg: rgba(58, 56, 56, 0.86);



* {
    margin: 0;
    padding: 0;
  // outline: 1px solid #636363;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header_nav_bg {
    background-color: $dark_section;
    position: relative;
}



.header_nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &_left {
        display: flex;
    }

    &_right {
        display: flex;
    }
}


.header_nav_left {
    display: flex;
    align-items: flex-end;
}

.header_nav_right {
    display: flex;
    align-items: center;
}

.logo_href {
    margin-right: 17px;
}

.a_nav_img {
    margin: 0px 17px;
   // display: block;
    text-decoration: none;
}

.a_nav_img:first-child {
    margin-left: 0px;
}

.a_nav_img:last-child {
    margin-right: 0px;
}

 .nav_img {
    fill: #E8E8E8;
 }
 .nav_img-menu {
 margin-right: 17px;
 cursor: pointer;
 fill: #E8E8E8;
 }

.nav_menu_button {
    display: none;
    
}

.header_menu_open {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 16px;
    right: 0;
    top:100%;
    width: 232px;
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    &_h1 {
        color: black;
        font-weight: bold;
        line-height: 20px;
    }

    &_box {
        padding: 8px 18px;

    &_ul {
        list-style: none;
    }

    &_li {
        margin: 6px 0px;
    }

    &_a {
        text-decoration: none;
        color: $dark_section;
    }
    
}

&_details {
    padding: 16px;

}

    &_summary {
    display: block;
    font-weight: normal;
    color: $attention_color;
    margin-left: -16px;
    margin-bottom: 8px;
    
    &::-webkit-details-marker {
        display: none;
    }
}
    



}

.nav_menu_button:checked ~ .header_menu_open {
    display: block;
}

.close-btn {
    text-align: right;
    width: 100%;
    font-size: 25px;

    // &-style: {
        
    // }
}

.nav_menu_button:focus {
    // appearance: none;

     background: #fff;

 }

.header_slider_bg {
    background-color: $pink_bg;
    //height: 641.25px;
    width: 100%;
}

.header_slider {
    height: 100%;
    //height: 764px;
    //background-image: url(../img/slider1.png);
    background-repeat: no-repeat;
   // background-position-x: -210px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    


    &_video {
       // position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        //height: 100%;
    }

}

.slider_text {
    width: 390px;
    font-size: 32px;
    font-weight: 700;
    //margin-right: 100px;
    margin-left: 30px;
    border-left: 12px solid $attention_color;
    padding-left: 15px;
    z-index: 2;
    position: absolute;
    

    &_big {
        font-size: 48px;
        }
    
    &_red {
        color: $attention_color;
    }
}

.category {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    flex-wrap: wrap;

    &_bg {
        margin-bottom: 96px;
    }

    &_box {
        width: 31.5%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &_dwn {
            width: 100%;
            margin-top: 30px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &_img {
        width: 100%;
    }

    &_txt {
        position: absolute;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $white_txt;
    }

    &_alert {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color:$attention_color;
    }
    }

.goods {
    width: 31.5%;
    background-color: $goods_card_bg;
    margin-bottom: 2.2%;
    list-style: none;
    //position: relative;

    
    &_img-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &_curtain {
        background: $goods_curtain_bg;
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translateY(-100%);
        opacity: 0;
        
        
    }

    &_cart {
        position: absolute;  
        border-color: #fff;
        border: solid 1px;
        color: #fff;
        font-size: 14px;
        background: none;
        padding: 11px 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        opacity: 0;
        
        }
    
    
    & .nav_img {
        padding-right: 11px;
    }

    &_h1 {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        color:$dark_section;
        margin-bottom: 6px;
    }

    &_h2 {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: $grey_sometxt;
        margin-bottom: 48px;
    }
    
    &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
    }

    &_img {
        width: 100%;
    }

    &_name {
    font-size: 13px;
    line-height: 16px;
    margin: 30px 29px 15px 15px;
    }

    &_description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 0px 29px 0px 15px;
    }

    &_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 15px 29px 30px 15px;
    }

    &:hover &_curtain {
        transform: translateY(0);
        opacity: 1;
        transition: 0.3s;
    }

    &:hover &_cart {
        opacity: 1;
        transition: 0.5s;
    }

    &:hover &_cart:hover {
        background-color: $attention_color;
        transition: 0s;
        opacity: 1;
    }

}

.button {

    border: solid 1px;
    color: $attention_color;
    font-size: 16px;
    background: none;
    padding: 15px 40px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
        color:#fff;
        background-color: $attention_color;
    }

    &:hover .product_description_cart {
        fill: #fff;
    }
}

.benefits {
    display: flex;
    padding: 100px 0px;
    justify-content: space-around;

    &_bg {
        background-color: $dark_section;
    }

    &_box {
        text-align: center;
        width: 27%;
    }

    &_img {
        margin: 0 auto;
        display: block;
        height: 40px;
        margin: 10px auto;
    }

    &_head {
        text-align: center;
        color: $white_txt;
        font-size: 20px;
        line-height: 60px;
        font-weight: normal;
    }

    &_description {
        text-align: center;
        color: $white_txt;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
    }
}

.footer_bg_up {
    background-image: url(../img/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    display: flex;
    align-items: center;
    height: 448px;
    justify-content: space-between;

    &_avatar {
        display: block;
        margin: 0px auto 30px;
        
    }
    
    &_comment {
        text-align: center;
        font-size: 20px;


    }

    &_lft {
        width: 360px;
        text-align: center;
        padding: 0px 7px 50px;
    }


    &_rght {
        width: 40%;
        text-align: center;

        &_h1 {
            font-size: 24px;
            color: $dark_section;
            font-weight: bold;
            line-height: 34px;
        }

        &_h2 {
            font-size: 18px;
            color: $dark_section;
            line-height: 34px;
        }

        &_input {
            background-color: $grey_bg;
            line-height: 40px;
            font-size: 14px;
            color: $dark_section;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            padding: 5px 15px;
            border: none;
            width: 45%;
        }

        &_button {
            font-size: 14px;
            color: $white_txt;
            background-color: $attention_color;
            padding: 17px 20px;
            border: none;
            margin-left: -4px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            width: 24%;
        }

        &_form {
            margin: 20px auto;
            width: 100%;
        }



    }
}

.footer_bg_dwn {
    background-color: $dark_section;
}

.footer_dwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &_lft {
        font-size: 16px;
        color: $white_txt;
    }

    &_ss {
        width: 32px;
        height: 32px;
        // margin: 0 3.6px;
    }

    &_ss:last-child {
        margin-right: 0px;
    }

    &_rght {
        display: flex;
        
        &_href {
        text-decoration: none;
        color: $dark_section;
        background-color: #fff;
        text-align: center;
        width: 32px;
        height: 32px;
        display: flex;
        font-size: 16px;
        margin-left: 8px;
        justify-content: center;
        align-items: center;
    }



        &_href:hover {
            background-color: $attention_color;
            & .fa-instagram {
                color: #fff;
            }
            & .fa-facebook-f {
                color: #fff;
            }
            & .fa-pinterest-p {
                color: #fff;
            }
            & .fa-twitter {
                color: #fff;
            }

        }
    }
}



.header_category {
    
    &_bg {
        background-color: #F8F3F4;
    }

    &_block {
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.h1_category {
    color: $attention_color;
    font-size: 24px;
    display: inline-block;
    font-weight: 400;
}

.breadcrumps {
    color: $dark_txt;
    display: flex;
    list-style: none;
    font-weight: 400;

    
    a {
        text-decoration: none;  
        color: #636363;     
    }

    li:last-child a {
        color: $attention_color;
        font-weight: 700;
    }

    li + li::before {
        content: " / ";
        margin: 0 4px;
        color: #636363;  
    }

}



// .breadcrumps li + li::before {
//     content: "/";
//     margin: 0 4px;
// }

.filter {
    display: flex;
    height: 120px;
    align-items: center;
    position: relative;
    line-height: 18px;
    font-size: 14px;
    color: $dark_txt;
    font-weight: 600;
    left: 0px;
    z-index: 1;

    &_main {
        position: absolute;
        top: calc(50% - 9px);
        left: 16px;
        cursor: pointer;
        font-size: 14px;
        color: $dark_txt;
        font-weight: 600;
        background-color: #fff;
        border: none;
        z-index: 10;

        
        
        &:hover {
            width: 360px;
            background-color: #fff;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 16px 16px 7px 16px;
            top: calc(50% - 25px);
            left: 0px;

        }

        &_ul {
            list-style: none;
        }

        
        &_name {
            color: $dark_txt;
            fill: $dark_txt;

        }

        &_open {
            display: none;
            // position: absolute;
            list-style: none;
        }

        &:hover &_open {
            display: block;
        }

        &:hover &_name {
            color: $attention_color;
            fill: $attention_color;
            padding-bottom: 7px;
        }


        &_categoryname {
            padding: 10px;
            
                &_before {
                display: block;
                background-color: $attention_color;
                height: 37px;
                width: 5px;
            }
        }

        &_summary {
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid $grey_bg;
        margin: 9px 0px;
    
            &::-webkit-details-marker {
                display: none;
            } 

        }

        &_details[open] &_summary {
            color: $attention_color;
        }

        // &_details {
        //     margin: 20px 0px;
        // }
        
        &_submenu-ul {
            list-style: none;
        }

        &_submenu-li {
            padding: 6px 17px;
        }

        &_submenu-href {
            text-decoration: none;
            color: inherit;
            font-size: 14pt;
            font-weight: normal;
        }
   }


    &_little {
        display: flex;
        margin: auto;
        font-weight: 400;
        position: absolute;
        left: 37%;
        top: calc(50% - 9px);
     
    }

    &_child-ul {
        list-style: none;
    }

    &_child {
        cursor: pointer;

        &-li {
            padding-bottom: 8px;
        }

        &-name {
            margin: 9px;
            font-weight: normal;
        }

        &_summary {
        display: block;
        
        &::after {
            content: url(../img/filter_ltl.svg);
            margin: 0 28px 0 10px;
        }

        &::-webkit-details-marker {
            display: none;
        }

    }

    &[open] ul {
        text-align: left;
        margin-left: -9px;
        padding: 9px 9px 0px 9px;
        margin-top: 5px;
        background-color: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    }

    &_product_page {
       
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 20;
    }
}


.center {
    // margin: 0px auto 76px;
    // position: relative;
    // width: 50%;
    // height: 1px;

    display: flex;
    justify-content: center;
    margin-bottom: 76px;
}


.pages_list {
    padding: 14px 0px;
    border: solid 1px; 
    border-color: #EBEBEB;
    font-size: 16px;
    color: $grey_sometxt + 48%;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 95px;
    width: 290px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &_box {
    display: flex;
    align-items: center;

        &_num {
        margin: 0 7px;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }
        
        &_img {
            // height: 100%;
            // display: block;
            cursor: pointer;
            margin: 0 15px;
        }
    }

}

.pages_list_box_num:first-of-type {
    color: $attention_color;

 }

.pages_list_box_num:last-of-type {
    margin: 0px 7px 0px 0px;
 }

.pages_list_box_num:nth-last-of-type(2) {
    margin: 0;
 }
 .pages_list_box_num:nth-last-of-type(3) {
    margin-right: 0;
 }


.product_slider {
background-color: $goods_card_bg;
display: flex;
justify-content: space-between;
align-items: center;

    &_box {
        // width: 47px;
        // height: 47px;
        background-color: #c7c7c7;
        padding: 12px 14px;
        // box-sizing: border-box;
    }

    &_img {
        padding-bottom: $description_margin;
    }
}

.product_page {
    margin: 0px auto;
}

.product_description {
    border: 1px solid $grey_bg;
    padding: 64px;
    color: $grey_sometxt - 10%;
    text-align: center;
    font-weight: 300;
    box-sizing: border-box;
    position: relative;
    margin-top: - $description_margin;
    z-index: 2;
    background-color: #fff;
    margin-bottom: 126px;

    &_category {
        color: $attention_color;
        font-size: 14px;
        line-height: 14px;
    }

    &_redline {
        width: 63px;
        background-color: $attention_color;
        margin: 12px auto;
        border: 1.5px solid $attention_color;
    }

    &_h1 {
        font-weight: 300;
        font-size: 18px;
        color: $grey_sometxt - 60%;
    }

    &_h2 {
        font-size: 14px;
        line-height: 17px;
        width: 555px;
        margin: 0 auto;
        font-weight: 300;
        margin-bottom: 32px;
    }

    &_price {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $attention_color;
        margin: 32px;
    }

    &_greyline {
        width: 641px;
        background-color: $grey_sometxt + 65%;
        border: none;
        margin: 65px auto;
        height: 1px;

    }

    // &_button {
    //     color: $attention_color;
    //     font-weight: normal;
    //     font-size: 16px;
    //     display: flex;
    //     align-items: center;
    //     margin: 0px auto;
    //     border: 1px solid $attention_color;
    //     background-color: white;
    //     padding: 14px 56px 14px 0px;
    //     cursor: pointer;
    // }
 
    &_cart {
        fill: $attention_color;
        margin: 0px 24px 0px 0px;

    }

}

.index-product {
    margin-bottom: 64px;
}

.product {
margin-bottom: 128px;
}

.cart-box {
    display: flex;
    justify-content: space-between;
    padding: 96px 0px;
    box-sizing: border-box;

&-l {
    flex-basis: 57%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

&_card {
    display: flex;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    position: relative;

        &-h2 {
            font-size: 24px;
            line-height: 29px;
            width: 70%;
            color: $dark_txt;
            margin-bottom: 40px;
        }
        &-h3 {
            font-size: 22px;
            line-height: 26px;
            margin: 3px 0px;
            color: $dark_txt;
        &-attention {
            color: $attention_color;
        }
        

    }

    &-close {
        position: absolute;
        right: 22px;
        top: 28px;
        border: none;
        background-color: white;
        cursor: pointer;
    }

    &-quantity {
        width: 50px;
        text-align: center;
        margin-left: 24px;
        border: 1px solid $grey_bg;
        font-size: 18px;
        padding: 2px;
    }
}


&_card-l {
     flex-basis: 45%;

   
        &-img {
            width: 100%;
        }

}

&_card-r {
    flex-basis: 55%;
    padding: 22px 22px 22px 31px;
}

&_goods-ul {
    list-style: none;
    // width: 80%;
}

&_li {
    margin-bottom: 40px;
    }

&_choice {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

&_choice-btn {
margin: 32px 0px;
color: #a4a4a4;
}

&-r {
    flex-basis: 33%;
}

&_form {
    display: flex;
    flex-direction: column;

    &-input {
        font-size: 13px;
        line-height: 16px;
        padding: 16px;
        color: $dark_section;
        outline: 1px solid #a4a4a4;
        border: none;
        margin-bottom: 20px;


    }
    &-input:focus {
        color: $dark_txt;     
    }

    &-h1 {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $dark_section;
        margin-bottom: 20px;
    }
}

&_quote-btn {
    color: $grey_sometxt;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    padding: 9px 14px;
    margin-left: 0;

}


&_summ {
    padding: 37px;
    background-color: #F5F3F3;
    margin-top: 57px;
    text-align: right;

    &-h3 {
        font-size: 11px;
        line-height: 13px;
    }   

    &-h2 {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-top: 12px;
        margin-bottom: 21px;
    }

    &-result {
        color: $attention_color;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
    }

    &-hr {
        width: 90%;
        align-items: center;
        margin: 17px auto;
        padding: 0;
        height: 0;
        border: none;
        border-top: 1px solid #E2E2E2;
    }

    &-btn {
        color: white;
        background-color: $attention_color;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;

        &:hover {
            color: white;
            background-color: rgb(96, 175, 96); 
        }
    }
}
}


.reg-box {
    display: flex;
    justify-content: space-between;
    padding: 96px 0px;
    box-sizing: border-box;

&-l {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

&-r {
    flex-basis: 55%;

    &_h1 {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
    }

    &_h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
    }

    &_ul {
        list-style: none;
    }

    &_li {
    font-size: 24px;
    line-height: 29px;
    // font-style: normal;
    font-weight: 300;
    margin-bottom: 16px;
    }

    &_li::before {
        content: url('../img/list.svg');
        display: inline-block;
        // width: 20px;
        // height: 20px;
        margin-right: 23px;
    }

}

&_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    

    &-input {
        font-size: 13px;
        line-height: 16px;
        padding: 16px;
        // color: #B1B1B1;
        outline: 1px solid #a4a4a4;
        border: none;
        margin-bottom: 20px;
    }

    &-input:focus {
        color: $dark_txt;     
    }

    &-input::placeholder {
        color: #B1B1B1;     
    }

    &-h1 {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $dark_section;
        margin-bottom: 20px;
    }

    &-h4 {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        margin-bottom: 40px;
    }

    &-btn {
        fill: white;
        background-color: $attention_color;
        color: white;
        padding: 16px 29px;
        margin-left: 0;
        margin-right: auto;

        &:hover {
            background-color: #fff;
            color: $attention_color;
        }


        &-row {
            fill: white;
            margin-left: 20px;
   
        }

    &:hover &-row {
        fill: $attention_color;
    }
    }

    &-radio {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      margin-top: 14px;

      &-txt {
        font-size: 11px;
        line-height: 13px;
        margin: 0 10px;
      }
    }
}

}