* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header_nav_bg {
  background-color: #222222;
}

.header_nav {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_href {
  margin-right: 17px;
}

.a_nav_img {
  margin: 0px 17px;
  text-decoration: none;
}

.a_nav_img:first-child {
  margin-left: 0px;
}

.a_nav_img:last-child {
  margin-right: 0px;
}

.nav_img {
  fill: #E8E8E8;
}

.nav_menu_button {
  border: 0;
  border-radius: 0;
  background: none;
  margin-right: 17px;
  cursor: pointer;
}

.nav_menu_button:focus {
  background: #fff;
}

.header_slider_bg {
  background-color: #F1E4E6;
  width: 100%;
}

.header_slider {
  height: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_slider_video {
  z-index: 1;
  top: 0;
  left: 0;
}

.slider_text {
  width: 390px;
  font-size: 32px;
  font-weight: 700;
  margin-left: 30px;
  border-left: 12px solid #F16D7F;
  padding-left: 15px;
  z-index: 2;
  position: absolute;
}

.slider_text_big {
  font-size: 48px;
}

.slider_text_red {
  color: #F16D7F;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category_bg {
  margin-bottom: 96px;
}

.category_box {
  width: 31.5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_box_dwn {
  width: 100%;
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_img {
  width: 100%;
}

.category_txt {
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FBFBFB;
}

.category_alert {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.goods {
  width: 31.5%;
  background-color: #F8F8F8;
  margin-bottom: 2.2%;
  list-style: none;
}

.goods_h1 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.goods_h2 {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.goods_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.goods_img {
  width: 100%;
}

.goods_name {
  font-size: 13px;
  line-height: 16px;
  margin: 30px 29px 15px 15px;
}

.goods_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0px 29px 0px 15px;
}

.goods_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 15px 29px 30px 15px;
}

.goods_button {
  border-color: #F16D7F;
  border: solid 1px;
  color: #F16D7F;
  font-size: 16px;
  background: none;
  padding: 15px 40px;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  margin-bottom: 95px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits_bg {
  background-color: #222222;
}

.benefits_box {
  text-align: center;
  width: 27%;
}

.benefits_img {
  margin: 0 auto;
  display: block;
  height: 40px;
  margin: 10px auto;
}

.benefits_head {
  text-align: center;
  color: #FBFBFB;
  font-size: 20px;
  line-height: 60px;
  font-weight: normal;
}

.benefits_description {
  text-align: center;
  color: #FBFBFB;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.footer_bg_up {
  background-image: url(../img/footer_bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 448px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_avatar {
  display: block;
  margin: 0px auto 30px;
}

.footer_comment {
  text-align: center;
  font-size: 20px;
}

.footer_lft {
  width: 360px;
  text-align: center;
  padding: 0px 7px 50px;
}

.footer_rght {
  width: 40%;
  text-align: center;
}

.footer_rght_h1 {
  font-size: 24px;
  color: #222222;
  font-weight: bold;
  line-height: 34px;
}

.footer_rght_h2 {
  font-size: 18px;
  color: #222222;
  line-height: 34px;
}

.footer_rght_input {
  background-color: #E1E1E1;
  line-height: 40px;
  font-size: 14px;
  color: #222222;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px 15px;
  border: none;
  width: 45%;
}

.footer_rght_button {
  font-size: 14px;
  color: #FBFBFB;
  background-color: #F16D7F;
  padding: 17px 20px;
  border: none;
  margin-left: -4px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 24%;
}

.footer_rght_form {
  margin: 20px auto;
  width: 100%;
}

.footer_bg_dwn {
  background-color: #222222;
}

.footer_dwn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.footer_dwn_lft {
  font-size: 16px;
  color: #FBFBFB;
}

.footer_dwn_ss {
  width: 32px;
  height: 32px;
}

.footer_dwn_ss:last-child {
  margin-right: 0px;
}

.footer_dwn_rght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_dwn_rght_href {
  text-decoration: none;
  color: #222222;
  background-color: #fff;
  text-align: center;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-left: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_category_bg {
  background-color: #F8F3F4;
}

.header_category_block {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1_category {
  color: #F16D7F;
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
}

.breadcrumps {
  color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 400;
}

.breadcrumps a {
  text-decoration: none;
  color: #636363;
}

.breadcrumps li:last-child a {
  color: #F16D7F;
  font-weight: 700;
}

.breadcrumps li + li::before {
  content: " / ";
  margin: 0 4px;
  color: #636363;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  color: #636363;
  font-weight: 600;
}

.filter_main {
  position: absolute;
  top: calc(50% - 9px);
}

.filter_main_summary {
  display: block;
  color: #636363;
  fill: #636363;
}

.filter_main_summary::-webkit-details-marker {
  display: none;
}

.filter_little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-weight: 400;
  position: absolute;
  left: 37%;
  top: calc(50% - 9px);
}

.filter_child_summary {
  display: block;
}

.filter_child_summary::after {
  content: url(../img/filter_ltl.svg);
  margin: 0 28px 0 10px;
}

.filter_child_summary::-webkit-details-marker {
  display: none;
}

.pages_list {
  padding: 14px 0px;
  border: solid 1px;
  border-color: #d5d5d5;
  font-size: 16px;
  color: #9F9F9F;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 95px;
  width: 290px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages_list_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages_list_box_num {
  margin: 0 8px;
  cursor: pointer;
}

.pages_list_box_num:first-of-type {
  margin-left: 0;
}

.pages_list_box_num:last-of-type {
  margin-right: 0;
}

.pages_list_box_img {
  cursor: pointer;
  margin: 0 15px;
}

.filter_main_summary:active ~ .filter_main {
  background-color: greenyellow;
}
/*# sourceMappingURL=main.css.map */