* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header_nav_bg {
  background-color: #222222;
  position: relative;
}

.header_nav {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_href {
  margin-right: 17px;
}

.a_nav_img {
  margin: 0px 17px;
  text-decoration: none;
}

.a_nav_img:first-child {
  margin-left: 0px;
}

.a_nav_img:last-child {
  margin-right: 0px;
}

.nav_img {
  fill: #E8E8E8;
}

.nav_img-menu {
  margin-right: 17px;
  cursor: pointer;
  fill: #E8E8E8;
}

.nav_menu_button {
  display: none;
}

.header_menu_open {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 16px;
  right: 0;
  top: 100%;
  width: 232px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header_menu_open_h1 {
  color: black;
  font-weight: bold;
  line-height: 20px;
}

.header_menu_open_box {
  padding: 8px 18px;
}

.header_menu_open_box_ul {
  list-style: none;
}

.header_menu_open_box_li {
  margin: 6px 0px;
}

.header_menu_open_box_a {
  text-decoration: none;
  color: #222222;
}

.header_menu_open_details {
  padding: 16px;
}

.header_menu_open_summary {
  display: block;
  font-weight: normal;
  color: #F16D7F;
  margin-left: -16px;
  margin-bottom: 8px;
}

.header_menu_open_summary::-webkit-details-marker {
  display: none;
}

.nav_menu_button:checked ~ .header_menu_open {
  display: block;
}

.close-btn {
  text-align: right;
  width: 100%;
  font-size: 25px;
}

.nav_menu_button:focus {
  background: #fff;
}

.header_slider_bg {
  background-color: #F1E4E6;
  width: 100%;
}

.header_slider {
  height: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_slider_video {
  z-index: 1;
  top: 0;
  left: 0;
}

.slider_text {
  width: 390px;
  font-size: 32px;
  font-weight: 700;
  margin-left: 30px;
  border-left: 12px solid #F16D7F;
  padding-left: 15px;
  z-index: 2;
  position: absolute;
}

.slider_text_big {
  font-size: 48px;
}

.slider_text_red {
  color: #F16D7F;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category_bg {
  margin-bottom: 96px;
}

.category_box {
  width: 31.5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_box_dwn {
  width: 100%;
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_img {
  width: 100%;
}

.category_txt {
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FBFBFB;
}

.category_alert {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.goods {
  width: 31.5%;
  background-color: #F8F8F8;
  margin-bottom: 2.2%;
  list-style: none;
}

.goods_img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.goods_curtain {
  background: rgba(58, 56, 56, 0.86);
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.goods_cart {
  position: absolute;
  border-color: #fff;
  border: solid 1px;
  color: #fff;
  font-size: 14px;
  background: none;
  padding: 11px 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.goods .nav_img {
  padding-right: 11px;
}

.goods_h1 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.goods_h2 {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.goods_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.goods_img {
  width: 100%;
}

.goods_name {
  font-size: 13px;
  line-height: 16px;
  margin: 30px 29px 15px 15px;
}

.goods_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0px 29px 0px 15px;
}

.goods_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 15px 29px 30px 15px;
}

.goods:hover .goods_curtain {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.goods:hover .goods_cart {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.goods:hover .goods_cart:hover {
  background-color: #F16D7F;
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 1;
}

.button {
  border: solid 1px;
  color: #F16D7F;
  font-size: 16px;
  background: none;
  padding: 15px 40px;
  margin: 0 auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:hover {
  color: #fff;
  background-color: #F16D7F;
}

.button:hover .product_description_cart {
  fill: #fff;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits_bg {
  background-color: #222222;
}

.benefits_box {
  text-align: center;
  width: 27%;
}

.benefits_img {
  margin: 0 auto;
  display: block;
  height: 40px;
  margin: 10px auto;
}

.benefits_head {
  text-align: center;
  color: #FBFBFB;
  font-size: 20px;
  line-height: 60px;
  font-weight: normal;
}

.benefits_description {
  text-align: center;
  color: #FBFBFB;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.footer_bg_up {
  background-image: url(../img/footer_bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 448px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_avatar {
  display: block;
  margin: 0px auto 30px;
}

.footer_comment {
  text-align: center;
  font-size: 20px;
}

.footer_lft {
  width: 360px;
  text-align: center;
  padding: 0px 7px 50px;
}

.footer_rght {
  width: 40%;
  text-align: center;
}

.footer_rght_h1 {
  font-size: 24px;
  color: #222222;
  font-weight: bold;
  line-height: 34px;
}

.footer_rght_h2 {
  font-size: 18px;
  color: #222222;
  line-height: 34px;
}

.footer_rght_input {
  background-color: #E1E1E1;
  line-height: 40px;
  font-size: 14px;
  color: #222222;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px 15px;
  border: none;
  width: 45%;
}

.footer_rght_button {
  font-size: 14px;
  color: #FBFBFB;
  background-color: #F16D7F;
  padding: 17px 20px;
  border: none;
  margin-left: -4px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 24%;
}

.footer_rght_form {
  margin: 20px auto;
  width: 100%;
}

.footer_bg_dwn {
  background-color: #222222;
}

.footer_dwn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.footer_dwn_lft {
  font-size: 16px;
  color: #FBFBFB;
}

.footer_dwn_ss {
  width: 32px;
  height: 32px;
}

.footer_dwn_ss:last-child {
  margin-right: 0px;
}

.footer_dwn_rght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_dwn_rght_href {
  text-decoration: none;
  color: #222222;
  background-color: #fff;
  text-align: center;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-left: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_dwn_rght_href:hover {
  background-color: #F16D7F;
}

.footer_dwn_rght_href:hover .fa-instagram {
  color: #fff;
}

.footer_dwn_rght_href:hover .fa-facebook-f {
  color: #fff;
}

.footer_dwn_rght_href:hover .fa-pinterest-p {
  color: #fff;
}

.footer_dwn_rght_href:hover .fa-twitter {
  color: #fff;
}

.header_category_bg {
  background-color: #F8F3F4;
}

.header_category_block {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1_category {
  color: #F16D7F;
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
}

.breadcrumps {
  color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 400;
}

.breadcrumps a {
  text-decoration: none;
  color: #636363;
}

.breadcrumps li:last-child a {
  color: #F16D7F;
  font-weight: 700;
}

.breadcrumps li + li::before {
  content: " / ";
  margin: 0 4px;
  color: #636363;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  color: #636363;
  font-weight: 600;
  left: 0px;
  z-index: 1;
}

.filter_main {
  position: absolute;
  top: calc(50% - 9px);
  left: 16px;
  cursor: pointer;
  font-size: 14px;
  color: #636363;
  font-weight: 600;
  background-color: #fff;
  border: none;
  z-index: 10;
}

.filter_main:hover {
  width: 360px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px 16px 7px 16px;
  top: calc(50% - 25px);
  left: 0px;
}

.filter_main_ul {
  list-style: none;
}

.filter_main_name {
  color: #636363;
  fill: #636363;
}

.filter_main_open {
  display: none;
  list-style: none;
}

.filter_main:hover .filter_main_open {
  display: block;
}

.filter_main:hover .filter_main_name {
  color: #F16D7F;
  fill: #F16D7F;
  padding-bottom: 7px;
}

.filter_main_categoryname {
  padding: 10px;
}

.filter_main_categoryname_before {
  display: block;
  background-color: #F16D7F;
  height: 37px;
  width: 5px;
}

.filter_main_summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #E1E1E1;
  margin: 9px 0px;
}

.filter_main_summary::-webkit-details-marker {
  display: none;
}

.filter_main_details[open] .filter_main_summary {
  color: #F16D7F;
}

.filter_main_submenu-ul {
  list-style: none;
}

.filter_main_submenu-li {
  padding: 6px 17px;
}

.filter_main_submenu-href {
  text-decoration: none;
  color: inherit;
  font-size: 14pt;
  font-weight: normal;
}

.filter_little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-weight: 400;
  position: absolute;
  left: 37%;
  top: calc(50% - 9px);
}

.filter_child-ul {
  list-style: none;
}

.filter_child {
  cursor: pointer;
}

.filter_child-li {
  padding-bottom: 8px;
}

.filter_child-name {
  margin: 9px;
  font-weight: normal;
}

.filter_child_summary {
  display: block;
}

.filter_child_summary::after {
  content: url(../img/filter_ltl.svg);
  margin: 0 28px 0 10px;
}

.filter_child_summary::-webkit-details-marker {
  display: none;
}

.filter_child[open] ul {
  text-align: left;
  margin-left: -9px;
  padding: 9px 9px 0px 9px;
  margin-top: 5px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter_product_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 20;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 76px;
}

.pages_list {
  padding: 14px 0px;
  border: solid 1px;
  border-color: #EBEBEB;
  font-size: 16px;
  color: #cfcfcf;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 95px;
  width: 290px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.pages_list_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages_list_box_num {
  margin: 0 7px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.pages_list_box_img {
  cursor: pointer;
  margin: 0 15px;
}

.pages_list_box_num:first-of-type {
  color: #F16D7F;
}

.pages_list_box_num:last-of-type {
  margin: 0px 7px 0px 0px;
}

.pages_list_box_num:nth-last-of-type(2) {
  margin: 0;
}

.pages_list_box_num:nth-last-of-type(3) {
  margin-right: 0;
}

.product_slider {
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_slider_box {
  background-color: #c7c7c7;
  padding: 12px 14px;
}

.product_slider_img {
  padding-bottom: 62px;
}

.product_page {
  margin: 0px auto;
}

.product_description {
  border: 1px solid #E1E1E1;
  padding: 64px;
  color: #959595;
  text-align: center;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-top: -62px;
  z-index: 2;
  background-color: #fff;
  margin-bottom: 126px;
}

.product_description_category {
  color: #F16D7F;
  font-size: 14px;
  line-height: 14px;
}

.product_description_redline {
  width: 63px;
  background-color: #F16D7F;
  margin: 12px auto;
  border: 1.5px solid #F16D7F;
}

.product_description_h1 {
  font-weight: 300;
  font-size: 18px;
  color: #636363;
}

.product_description_h2 {
  font-size: 14px;
  line-height: 17px;
  width: 555px;
  margin: 0 auto;
  font-weight: 300;
  margin-bottom: 32px;
}

.product_description_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 32px;
}

.product_description_greyline {
  width: 641px;
  background-color: #e0e0e0;
  border: none;
  margin: 65px auto;
  height: 1px;
}

.product_description_cart {
  fill: #F16D7F;
  margin: 0px 24px 0px 0px;
}

.index-product {
  margin-bottom: 64px;
}

.product {
  margin-bottom: 128px;
}
/*# sourceMappingURL=main.css.map */